# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# npm node_modules dir
/node_modules

# composer itself is not needed
composer.phar

# composer lockfile is not needed
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

# docker
/docker/mysql/*

#vagrant folder
/.vagrant

#dotenv
.env

# The following lines are for template development, contributing to hunwalk/yii2-app-forge
# Please do not use these files in production environment

# Some additional config for contribution environment
config/forge-web-dev*.php

# We store configuration data here that needs to be injected during runtime
forge_dev_*.*

# We use this file to inject data to the app during development
ForgeDevBootstrap.php